$primary-Red: hsl(0, 100%, 68%);
$Very-Dark-Blue: hsl(230, 29%, 20%);
$Dark-Grayish-Blue: hsl(230, 11%, 40%);
$Grayish-Blue: hsl(231, 7%, 65%);
$Light-Grayish-Blue: hsl(207, 33%, 95%);

/* SCSS HEX */
$ebony-clay: #282b3c;
$burnt-sienna: #ee5a5c;
$mystic: #ebf0f3;
$manatee: #8d929f;
$eunry: #cf9ea2;
$french-gray: #b7b9c4;
$pale-sky: #6c747d;
$lola: #d7c8d0;
$new-york-pink: #d87c74;
$mandys-pink: #f5b4ac;
