@use "../abstracts/variables" as *;

nav {
  .icon {
    display: none;
    text-decoration: none;
    color: #000;
  }
}

.navigation {
  display: flex;
  align-items: center;

  &__item {
    padding: 1rem;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
    color: $Very-Dark-Blue;
    text-transform: uppercase;
  }
}

.log-btn {
  padding-left: 3rem;
  color: $Grayish-Blue !important;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: unset;
    position: relative;

    .icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 2rem;

      #icon-cross {
        display: none;
      }
    }
  }

  .navigation {
    flex-direction: column;
    background-color: #fff;
    box-shadow: -7px 7px 15px #ebedf4;
    margin-top: 1.5rem;

    &__item {
      display: none;
    }

    &__links {
      width: 80%;
      text-align: center;
    }
  }

  .log-btn {
    border-top: 2px solid #ebedf4;
    padding: 1em 0;
  }

  .active {
    display: block;
  }
}
