@use "../abstracts/variables" as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  font-family: "Barlow Condensed", sans-serif;
}

.navigation {
  display: flex;

  &__item {
    padding: 1rem;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
    color: $Very-Dark-Blue;
    text-transform: uppercase;
  }
}

.log-btn {
  padding-left: 3rem;
  color: $Grayish-Blue !important;
}
