@use "../abstracts/variables" as *;

nav {
  // MOBILE MENU
  .icon {
    display: none;
    text-decoration: none;
    color: $color-black;
  }
}

.navigation {
  display: flex;
  align-items: center;

  &__item {
    padding: 1rem;
    font-weight: 700;
  }

  &__links {
    text-decoration: none;
  }

  &__item {
    list-style: none;
    color: $Very-Dark-Blue;
    text-transform: uppercase;
  }

  &__log {
    margin-left: 3rem;
    color: $Grayish-Blue;
  }
}

@media (max-width: 600px) {
  nav {
    .icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 2rem;

      #icon-cross {
        display: none;
      }
    }
  }

  .navigation {
    flex-direction: column;
    background-color: $color-white;
    box-shadow: -7px 7px 15px $color-shadow;
    margin-top: 1.5rem;

    &__item {
      display: none;
    }

    &__links {
      width: 80%;
      text-align: center;
    }

    &__log {
      margin-left: 0;
      border-top: 2px solid $color-shadow;
      padding: 1em 0;
    }
  }

  .active {
    display: block;
  }
}
