@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
/* SCSS HEX */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  overflow: hidden;
}
@media (max-width: 768px) {
  body {
    overflow: visible;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__text {
  width: 45%;
}
@media (max-width: 768px) {
  .hero__text {
    width: 100%;
  }
}
.hero__black {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 5px 17px;
  border-radius: 15px;
  font-family: "Barlow Condensed", sans-serif;
  margin-right: 1em;
}
.hero__thin {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  color: #a0a1ac;
  letter-spacing: 0.08em;
}
.hero__title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
}
.hero__para {
  max-width: 40%;
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  color: #a0a1ac;
}
.hero__submit {
  display: flex;
  margin-top: 3em;
  align-items: center;
}
.hero__submit_btn {
  margin-right: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ff5c5c;
  color: #eef3f6;
  border: 0;
  padding: 1em;
  border-radius: 5px;
  letter-spacing: 0.07em;
  font-size: 1rem;
}
.hero__submit_btn:hover {
  background-color: #eef3f6;
  color: #ff5c5c;
  cursor: pointer;
  border: 0;
}
.hero__img {
  width: 50%;
}
@media (max-width: 768px) {
  .hero__img {
    width: 100%;
  }
  .hero__img img {
    width: auto;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .hero__img img {
    width: 100%;
  }
}

nav .icon {
  display: none;
  text-decoration: none;
  color: #000;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__item {
  padding: 1rem;
  font-weight: 700;
}
.navigation__item:hover {
  text-decoration: underline;
}
.navigation__links {
  text-decoration: none;
}
.navigation__item {
  list-style: none;
  color: #242942;
  text-transform: uppercase;
}
.navigation__log {
  margin-left: 3rem;
  color: #a0a1ac;
}

@media (max-width: 600px) {
  nav .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
  }
  nav .icon #icon-cross {
    display: none;
  }

  .navigation {
    flex-direction: column;
    background-color: #fff;
    box-shadow: -7px 7px 15px #ebedf4;
    margin-top: 1.5rem;
  }
  .navigation__item {
    display: none;
  }
  .navigation__links {
    width: 80%;
    text-align: center;
  }
  .navigation__log {
    margin-left: 0;
    border-top: 2px solid #ebedf4;
    padding: 1em 0;
  }

  .active {
    display: block;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  font-family: "Barlow Condensed", sans-serif;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
    align-items: unset;
    position: relative;
  }
}/*# sourceMappingURL=main.css.map */